.section-1 {
  display: flex;
  padding: 170px 20px 20px 20px;
  justify-content: center;
  height: 900px;
}
.section-1 .heading {
  box-sizing: border-box;
  padding-top: 120px;
  text-align: left;
  font-size: 60px;
  line-height: 60px;
  color: #333333;
  font-weight: 600;
}
.section-1 > img {
  height: 600px;
  width: 650px;
}

.section-2 {
  padding-left: 240px;
  padding-top: 85px;
  background-color: #333132;
  height: 900px;
}
.section-2 p {
  padding-bottom: 60px;
  font-size: larger;
  color: #00f782;
  text-align: left;
  font-weight: bold;
}
.section-2 #p2 {
  text-align: left;
  line-height: 60px;
  width: 55%;
  color: white;
  font-size: 37px;
  font-weight: 400;
}
.section-2 p span {
  margin-right: 10px;
  border-radius: 40px;
  background-color: #00f782;
  color: #00f782;
}
.section-2 p:hover span {
  color: antiquewhite;
  background-color: #333132;
}
.section-2 video {
  float: left;
  margin-top: 50px;
  height: 250px;
  width: 45%;
}

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 800px;
  background-color: #00f782;
}
.section-3 > div {
  display: flex;
  row-gap: 50px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  margin: auto;
}
.section-3 div .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 350px;
  width: 30%;
}
.section-3 div img {
  height: 150px;
  width: 150px;
}
.section-3 div .content p {
  background-color: #333333;
  color: #333333;
  font-size: small;
  font-weight: 600;
  border-radius: 10px;
}
.section-3 div .content h1 {
  color: #333333;
}
.section-3 div .content:hover p {
  background-color: #00f782;
}

.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 140vh;
}
.section-4 .feature {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: #333333;
  width: 27%;
  height: 80%;
}
.section-4 img {
  float: right;
  height: 75%;
  width: 45%;
}
.section-4 .feature .msg {
  padding-bottom: 15px;
  font-size: 35px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.section-4 .feature .para {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
